services:
  app:
    build: .
    container_name: go-server
    ports:
      - "1080:1080" # SOCKS5
      - "8081:8081" # HTTP
      - "8080:8080" # stats, metrics
      - "8443:8443/udp" # quic
    depends_on:
      - redis
    environment:
      - REDIS_ADDR=redis:6379
    networks:
      - backend

  redis:
    image: redis:7
    container_name: redis-server
    volumes:
      - .logs/redis-data:/data
    command: ["redis-server", "--appendonly", "yes"]
    networks:
      - backend

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--storage.tsdb.retention.time=30d'
      - '--web.enable-lifecycle'
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./monitoring/alert_rules.yml:/etc/prometheus/alert_rules.yml
      - prometheus_data:/prometheus
    networks:
      - backend
    depends_on:
      - app
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=proxy199
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_INSTALL_PLUGINS=grafana-worldmap-panel
    volumes:
      - grafana_data:/var/lib/grafana
      - ./monitoring/grafana/provisioning:/etc/grafana/provisioning
    networks:
      - backend
    restart: unless-stopped

  redis-exporter:
    image: oliver006/redis_exporter:latest
    container_name: redis-exporter
    ports:
      - "9121:9121"
    environment:
      - REDIS_ADDR=redis://redis:6379
    networks:
      - backend
    depends_on:
      - redis

volumes:
  prometheus_data:
  grafana_data:

networks:
  backend:


